<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="no1">First number</label>
    <input type="text" id="no1"><br><br>

    <label for="operator">Select operator</label>
    <select id="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>

    </select><br><br>
    

    <label for="no2">second Number</label>
    <input type="text"  id="no2"><br><br>

    <input type="submit" onclick="calculate()"><br><br>

    <p id="result">Result is</p>

    <script>

        function calculate(){
            var num1 = Number(document.getElementById("no1").value)
            var num2 = Number(document.getElementById("no2").value)
            var operator = document.getElementById('operator').value
            var result = 0
            if (operator == '+'){
                result = num1 + num2
                console.log(num1 + num2)
            }

            else if (operator == '-'){
                result = num1 - num2
            }

            else if (operator == '*'){
                result = num1 * num2 
            }

            else if (operator == '/'){
                result = num1 / num2
            }

            
            document.getElementById('result').innerHTML += result



        }
    </script>



</body>
</html>