{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src=" {% static  'js/conditions.js' %}"></script>
</head>
<body>
    <h1>conditions and loops</h1>


    <script>
        // var marks = [10,20,30,40,50]
        // document.write(marks, '<br>') 
        // document.write(typeof(marks))
        // console.log(marks[0])
        // console.log(marks[1])
        // console.log(marks[2])
        // console.log(marks[3])


        var fruits = ['apple','grape']
        document.write(fruits, '<br>')
        document.write(typeof(fruits))

        // var students = {
        //     fname:'mohammed',
        //     lname:'sahad',
        //     age:23,
        //     gender:'male'
        // }
        // console.log(students)
        // console.log(students['age'])
        // console.log(students.gender)


        // for (key in students){
        //     console.log(key + 'is'+ students[key])
        // }

        // console.log('\n')

        // for(item of marks){
        //     console.log(item)

        // }


        var vehicle = ['swift','beleno']
        document.write(vehicle, '<br>')
        document.write(typeof(vehicle))


    </script>
</body>
</html>