{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>dsjahddsajjsjd</h1>
    <div class="sahad">
        <div>dklhkh</div>
        <div>difpos</div>
        <div>ksdfk</div>
        <div>ddslkld</div>
        <div>dlkf;ldk</div>
        <div>kdjlkasj</div>
        <div>jflkfj</div>
        <div>dkfsk</div>
        <div>kljfgdklj</div>
        <div>dsfjdkf;k</div>
    </div>
    
</body>
</html>