{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>sahad c marakkaar</h1>
    <div class="container">
        <div >kdfdshdskjfldsjf</div>
        <div>the dfdjflkjsj</div>
        <div>this is the djflksj</div>
        <div>dkjkldjfslkjfdkh</div>
        <div>kdjhsfak</div>
        <div>djfkldsj</div>
        <div>dkf;ldk;</div>
        <div>skdlskk</div>
        <p>my name is rasal naeem
            coming from kaloth 
            studied in ch school at vayakad
        </p>
    </div>
    
</body>
</html>